<div class="content">
    <div class="header-menu">
      <div class="back">
          <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="" srcset="">
      </div>
      <div class="header_title">
        CATEGORÍAS
      </div>
      <div class="quit">
        <img class="addIcon" src="./assets/icon/png/addBlueIcon.png" alt="" srcset="">
      </div>
    </div>
    
    <div class="search">
      <img class="searchIcon" src="./assets/icon/png/searchIcon.png" alt="" srcset="">
      <input class="search_text"type="text" placeholder="Búsqueda">
    </div>


    <ion-content >
      <table class="table" >
        <tr class="client_list_title">
          <td class="check_column_title"> </td>
          <td>NOMBRE</td>
        </tr>

        
      
          
            <tr class="client_list_info" id="client_list_info">
                <td> 
                  <label class="check_button_container">
                    <input class="check" id="check1" type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td class="name_row" id="last_name">Zapatos</td>
                <hr>
              </tr>
      
              <tr id="client_list_info" class="client_list_info">
                <td> 
                  <label class="check_button_container">
                    <input class="check" id="check2" type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td class="name_row" id="last_name">Camisa</td>
                <hr>
              </tr>
      
              <tr id="client_list_info" class="client_list_info">
                <td> 
                  <label class="check_button_container">
                    <input class="check" id="check3" type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td class="name_row" id="last_name">Pantalones</td>
                <hr>
              </tr>
      
              <tr id="client_list_info" class="client_list_info">
                  <td> 
                    <label class="check_button_container">
                      <input class="check" id="check3" type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td class="name_row" id="last_name">Pantalones</td>
                  <hr>
                </tr>
      
                <tr id="client_list_info" class="client_list_info">
                    <td> 
                      <label class="check_button_container">
                        <input class="check" id="check3" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                    <td class="name_row" id="last_name">Pantalones</td>
                    <hr>
                  </tr>
      
      
                  <tr id="client_list_info" class="client_list_info">
                      <td> 
                        <label class="check_button_container">
                          <input class="check" id="check3" type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </td>
                      <td class="name_row" id="last_name">Pantalones</td>
                      <hr>
                    </tr>
      
                    <tr id="client_list_info" class="client_list_info">
                        <td> 
                          <label class="check_button_container">
                            <input class="check" id="check3" type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                        </td>
                        <td class="name_row" id="last_name">Pantalones</td>
                        <hr>
                      </tr>
      
                      <tr id="client_list_info" class="client_list_info">
                          <td> 
                            <label class="check_button_container">
                              <input class="check" id="check3" type="checkbox">
                              <span class="checkmark"></span>
                            </label>
                          </td>
                          <td class="name_row" id="last_name">Pantalones</td>
                          <hr>
                        </tr>

                        <tr id="client_list_info" class="client_list_info">
                            <td> 
                              <label class="check_button_container">
                                <input class="check" id="check3" type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </td>
                            <td class="name_row" id="last_name">Pantalones</td>
                            <hr>
                          </tr>
      

                        
      </table>    
    </ion-content>
</div>

<div class="mod-delete" id="top_menu">
    <button id="modify_btn" class="modify_client">
      <img src="./assets/icon/png/modifyIcon.png" alt="" class="modifyIcon">
      <a class="mod-delete-text">Modificar</a></button>
    <button class="delete_client">
      <img src="./assets/icon/png/deleteIcon.png" alt="" class="deleteIcon">
      <a class="mod-delete-text">Eliminar</a></button>
</div>    


