<div class="content">
    <div class="top">
        <img src="./assets/icon/Kiosko.png">
      </div>
      
      <div class="form">
        <Div class="inputs">
          <label for="" class="form_label">Nombre del Comercio</label><input type="text" class="form_input" id="name">
          <label for="" class="form_label">Contraseña</label><input type="password" class="form_input" id="password">
        </Div>
        <a class="btn button is-rounded" routerLink="/check" routerDirection="root">Iniciar Sesión</a>
      </div>
      
      <div class="forgot_password" routerLink="/forgotpassword" routerDirection="root"><p ref="#">Olvidé mi contraseña</p></div>
      
      
      <div class="footer">
        <p routerLink="/adminsignup" routerDirection="root">Crear cuenta</p>
      </div>
      
</div>