<div class="content">
    <div class="header-menu">
      <div class="back">
        <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="" srcset="">
      </div>
      <div class="quit">
        <p href="">Omitir</p>
      </div>
    </div>
    <div class="informationText">
        <div class="title-product">Modificadores <br>  preestablecidos</div>
        <div class="subtitle-product"> Agrega los modificadores que <br> deseas a la mano</div>
    </div>
    
    <div class="modal-container">
      <div class="modal-content">
          <label for="" class="formulario__label label-text">Modificador</label>
          <input type="text" placeholder="Ej. Corte de pelo" class="form__input" id="name">

          <div class="modifier_content">
              <img class="closeIcon" src="./assets/icon/png/close.png" alt="" srcset="">
              <label class="check_button_container">
                  <input type="checkbox">
                  <span><input class="input_Name" placeholder="Medio" type="text"></span>
                  <span><input class="input_Price" placeholder="₡0" type="text"></span>
                  <span class="checkmark"></span>
              </label>
          </div>

          <div class="modifier_content">
              <img class="closeIcon" src="./assets/icon/png/close.png" alt="" srcset="">
              <label class="check_button_container">
                  <input type="checkbox">
                  <span><input class="input_Name" placeholder="Medio" type="text"></span>
                  <span><input class="input_Price" placeholder="₡0" type="text"></span>
                  <span class="checkmark"></span>
              </label>
          </div>

          <div class="modifier_content">
              <img class="closeIcon" src="./assets/icon/png/close.png" alt="" srcset="">
              <label class="check_button_container">
                  <input type="checkbox">
                  <span><input class="input_Name" placeholder="Medio" type="text"></span>
                  <span><input class="input_Price" placeholder="₡0" type="text"></span>
                  <span class="checkmark"></span>
              </label>
          </div>

          <div class="bottom_buttons_container">
            <button class="btn btn_cancel">Cancelar</button>
            <button class="btn btn_Add">Agregar</button>
          </div>
      </div>

      <div class="float_button_container">
        <button class="btn btn_float_add">
          <img class="add_icon" src="./assets/icon/png/addIcon.png" alt="" srcset="">
        </button>
      </div>
      
    </div>
</div>

<div class="footer">
    <div class="next">
      <p>Siguiente</p>
      <img class="nextIcon" src="./assets/icon/png/nextIcon.png" alt="" srcset="">
    </div>
</div>
