

<div class="content">

    <div class="header-menu">
        <div class="back">
           <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="" srcset="">
        </div>
        <div class="quit">
          <a>Omitir</a>
        </div>
      </div>

    <div class="informationText">
        <div class="title-product">¿Qué productos <br> vas a vender?</div>
        <div class="subtitle-product">Agregá los productos y categorías <br> de tu comercio</div>
    </div>
      

    

      
      
      
    <div class="productList">
        <div class="productItem" routerLink="/products" routerDirection="root">
          <img class="addIcon" src="./assets/icon/png/addIcon.png" alt="" srcset="">
        </div>
         <div class="productItem"></div>
        <div class="productItem"></div>
        <div class="productItem"></div>
        <div class="productItem">Producto</div>
      <div class="productItem">Producto</div> 
      <div class="productItem"></div>
        <div class="productItem">Producto</div>
      <div class="productItem">Producto</div> 
      <div class="productItem">Producto</div> 
      <div class="productItem"></div>
        <div class="productItem">Producto</div>
      <div class="productItem">Producto</div> 


        
    </div>

      
</div>

<div class="footer">
    <div class="next">
      <p>Siguiente</p>
      <img class="nextIcon" src="./assets/icon/png/nextIcon.png">
    </div>
</div>

 


