<div class="content">
    <div class="top">
        <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="" srcset="" (click)="goBack()">
        <div class="next" routerLink="/check" routerDirection="root">
          <span>Siguiente</span>
          <img class="nextIcon" src="./assets/icon/png/nextIcon.png" alt="" srcset="">
        </div>
      </div>

      <div class="mid-top">
        <a class="firstText">¿Qué tipo de <br>productos vendés</a>
      </div>
      <div class="img-mid"> 
        <button class="btn_img btn_shoes" id="btn_shoes"><img src="./assets/img/air-jordan-design-footwear-1598505.png"/><p>ZAPATOS</p></button>
        <button class="btn_img" id="btn_food"><img src="./assets/img/pexels-photo-1640777.png"/><p>COMIDA<br>PREPARADA</p></button>
        <button class="btn_img" id="btn_cloth"><img src="./assets/img/cloth.png"/><p>ROPA</p></button>
        <button class="btn_img" id="btn_groceries"><img src="./assets/img/asian-assorted-background-917371.png"/><p>ABARROTES</p></button>
        <button class="btn_img" id="btn_drinks"><img src="./assets/img/colorful-colourful-drink-4239.png"/><p>BEBIDAS<br>PREPARADAS</p></button>
        <button class="btn_img" id="btn_beauty_products"><img src="./assets/img/beautiful-cleaning-emery-b-332046.png"/><p>SERVICIOS DE<br>BELLEZA</p> </button>
        <button class="btn_img" id="btn_products"><img src="./assets/img/pexels-photo-1727684.png"/><p>PRODUCTOS<br>VARIOS</p></button>
        <button class="btn_img" id="btn_others"><img src="./assets/img/pexels-photo-264635.png"/><p class="txt_others">OTROS</p></button>
      </div>
      
</div>