<div class="content">

    <div class="header-menu">
        <div class="back">
          <img class="backIcon" src="./assets/icon/png/backIcon.png">
        </div>
        <div class="quit">
          <p href="">Omitir</p>
        </div>
      </div>
  
    <div class="informationText">
        <div class="title-product">Seleccioná el producto <br> para tu descuento</div>
    </div>
      
  
    
  
      
      
      
    <div class="productList">
        
        <!-- <button class="productItem">Nombre del descuento</button> -->
  
        <div class="productItem">
          <img class="addIcon" src="./assets/icon/png/addIcon.png" alt="" srcset="">
        </div>

        <div class="productItem">
            <img class="addIcon" src="./assets/icon/png/addIcon.png" alt="" srcset="">
          </div>

          <div class="productItem">
              <img class="addIcon" src="./assets/icon/png/addIcon.png" alt="" srcset="">
            </div>

            <div class="productItem">
                <img class="addIcon" src="./assets/icon/png/addIcon.png" alt="" srcset="">
              </div>

              <div class="productItem">
                  <img class="addIcon" src="./assets/icon/png/addIcon.png" alt="" srcset="">
                </div>
  
    </div>
  
      
  </div>
  
  <div class="footer">
      <button class="btn btn_Add">Agregar</button>
  </div>
