<div class="content">
  <div class="header-menu">
    <div class="back">
      <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="" srcset="" >
    </div>
  </div>

  <div class="informationText">
    <div class="title-product">¿Querés agregar <br> otros usuario?</div>
    <div class="subtitle-product">Agrega otros usuarios y configura <br> los permisos que deseas darles</div>
  </div>

  <div class="cards">
      <!-- <button id="back" class="btn">back</button> -->
     <div id="card_1" class="card" data-card="0">
       
     <div id="card_detail" class="card__detail mt--10">
 <!--       <div class="name">0</div>
       <div class="form">
         <label for="">Nombre</label>
         <input id="nombre_show" type="text">
       </div>
       <div class="form">
         <label for="">Contraseña</label>
         <input id="contra_show" type="text">
       </div>
       <div class="form">
         <label for="">Confirmar contraseña</label>
         <input type="text">
       </div> -->
        <div class="content">
         <div class="form">
           <label for="">Nombre</label>
           <input id="name" type="text">
         </div>
         <div class="form">
           <label for="">Apellido</label>
           <input id="apellido" type="text">
         </div>
         <div class="form">
           <label for="">Contraseña</label>
           <input id="contra" type="text">
         </div>
         <div class="form">
           <label for="">Confirmar contraseña</label>
           <input type="text">
         </div>
          <button id="btn_permit" class="btn btn_footer">
            <img class="addCircleIcon" src="./assets/icon/png/addCircle.png" alt="" srcset="">
            Permisos
          </button>
       </div>
      
     </div>
     <div class="card__detail back">
       <h1 class="mt-0">Permisos</h1>
       <div class="content">
          <div class="modifier_content">
              <label class="check_button_container">
                  <input type="checkbox">
                  <span>
                    <label class="mt-6 checkbox_label" for="">Cierre de Caja</label>
                  </span>
                  <span class="checkmark"></span>
              </label>
          </div>
          <div class="modifier_content">
              <label class="check_button_container">
                  <input type="checkbox">
                  <span>
                    <label class="mt-6 checkbox_label" for="">Modificadores</label>
                  </span>
                  <span class="checkmark"></span>
              </label>
          </div>
          <div class="modifier_content">
              <label class="check_button_container">
                  <input type="checkbox">
                  <span>
                    <label class="mt-6 checkbox_label" for="">Descuentos</label>
                  </span>
                  <span class="checkmark"></span>
              </label>
          </div>
          <div class="modifier_content">
              <label class="check_button_container">
                  <input type="checkbox">
                  <span>
                    <label class="mt-6 checkbox_label" for="">Reportes</label>
                  </span>
                  <span class="checkmark"></span>
              </label>
          </div>
          <div class="modifier_content">
              <label class="check_button_container">
                  <input type="checkbox">
                  <span>
                    <label class="mt-6 checkbox_label" for="">Clientes</label>
                  </span>
                  <span class="checkmark"></span>
              </label>
          </div>
          <div class="modifier_content">
              <label class="check_button_container">
                  <input type="checkbox">
                  <span>
                    <label class="mt-6 checkbox_label" for="">Anulaciones</label>
                  </span>
                  <span class="checkmark"></span>
              </label>
          </div>
          <div class="modifier_content">
              <label class="check_button_container">
                  <input type="checkbox">
                  <span>
                    <label class="mt-6 checkbox_label" for="">Contraseña</label>
                  </span>
                  <span class="checkmark"></span>
              </label>
          </div>
          <div class="modifier_content">
              <label class="check_button_container">
                  <input type="checkbox">
                  <span>
                    <label class="mt-6 checkbox_label" for="">Modificar Facturas</label>
                  </span>
                  <span class="checkmark"></span>
              </label>
          </div>
         
         <button class="btn btn_create">Crear</button>
       </div>
     </div>
    
   </div>
      <!-- <button id="next" class="btn">next</button> -->
  </div>

  <button class="btn btn_float_addUser">
    <img class="addIcon" src="./assets/icon/png/addIcon.png" alt="" srcset="">
  </button>

</div>
