<div class="content">
  <div class="top">
    <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="" srcset="">
    <a class= "firstText">N O T I F I C A C I O N E S</a>
  </div>
  
  <div class="cards_notifications">
    <ion-card class="card">
        <div class="un_read_it"></div>
        <img class="closeIcon" src="./assets/icon/png/close.png" alt="" srcset="">
      <ion-card-header>
        <ion-card-title class="notification_text">INICIO DE SESION NO AUTORIZADO</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  
</div>




