<div class="content">
    <div class="top">
        <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="" srcset="" routerLink="/infographic" routerDirection="root">
      </div>

      <div class="mid-top">
        <a class="firstText">Pertenecés a<br> régimen simplificado<br> o tradicional</a>
      </div>
    
    <div class="btn-btn">
        <button class="btn btn-simplified" routerLink="/productsforsale" routerDirection="root">Simplificado</button>
        <button class="btn btn-traditional" routerLink="/checkinfo" routerDirection="root">Tradicional</button>
    </div>   
</div>