<div class="content">
        <div class="top">
                <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="" srcset="" routerLink="/idconfirmation" routerDirection="root">

            </div>
            
              <div class="mid-top">
                  <a class="firstText">Tu servicio de facturación<br> electrónica se habilitará en<br> los próximos<b>7 días</b> </a>
              </div>
            
              <button class="btn btn-continue" routerLink="/productsforsale" routerDirection="root">Continuar</button>

            
            
</div>