<div class="content">
    <div class="top">
        <img class="backIcon" src="./assets/icon/png/backIcon.png" routerLink="/startup" routerDirection="root" alt="" srcset="">
        <span class="admin">ADMINISTRADOR</span>
    </div>
    <div class="formulario">
      <Div class="inputs">
        <label for="" class="formulario__label">Nombre de Administrador</label>
        <input type="text" class="form__input" id="name" placeholder="Nombre Apellido">
        <label for="" class="formulario__label">Correo</label>
        <input type="email" class="form__input" id="email" placeholder="nombreapellido@mail.com">
      </Div>
      <a class="btn button is-rounded" routerLink="/key" routerDirection="root">Continuar</a>
    </div>
    
</div>