<div class="content_plan">
  

<div class="top">
    <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="" srcset="" routerLink="/adminsignup" routerDirection="root">
</div>



<div class= "prices">
  <p class="descPrice">$20 <span class="descPrice_less">.00</span> </p>
  <p class="month">/mes</p>
  <del class="oldPrice">$35.50</del>
</div>


<div class="content">
  <p>"Todo en uno" punto de venta</p>
  <p>Facturación rápida y por división <br>de cuentas.</p>
  <p>Modificadores de productos.</p>
  <p>Ajustes a facturación por línea o general.</p>
  <p>Múltiples formas de pago.</p>
  <p>Facturación Electrónica.</p>
  <p>Bi-moneda (Tipo de cambio diario).</p>
  <p>Sincronización en la Nube.</p>
  <p>Manejo de usuarios.</p>
  <p>Control de clientes.</p>
  <p>Descuentos y devoluciones.</p>
  <p>Manejos de cuentas.</p>
  <p>Reportería local y en la Nube.</p>
</div>
  <a class="button is-rounded" routerLink="/key">Continuar</a>

  <div class="container">
    <div class="round">
      <input type="checkbox" id="checkbox" />
      <label for="checkbox"></label>
    </div>
    <div class="accept">He leído y acepto las <a href="#">Condiciones de uso y la Política de Privacidad</a></div>
  </div>

</div>