.top{
    margin-top: 6%;
    margin-left: 6%;
}

.mid-top{
    width: 100%;
    justify-content: center;
}

.firstText{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 131.25%;
    display: flex;
    color: #455A64;
    justify-content: center;
    margin-bottom: 6%;
}

.secondText, .thirdText{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 131.25%;
    display: flex;
    color: #8FB0BA;
    justify-content: center;
    margin-bottom: 6%;
    text-align: center;
}

.email{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    color: #455A64;
}

.mid{
    display: flex;
    justify-content: center;
    margin-top: 11%;
}
.email_id{
    width:33px;
    height: 43px;
    border: 0.5px solid #97AEB4;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.mid-foot{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
}

.password, .password_text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}

.password{
    margin-top: 4%;
}

.password_text{
    margin-top: -2%;
}

.foot{
    width: 100%;
    display: flex;
    margin-bottom: 10%;
    justify-content: center;
    margin-top: 5%;
}

.btn_save{
    width: 70%;
    height: 35px;
    font-size: 20px;
}