<div class="content">
    <div class="top">
        <img class="backIcon" src="./assets/icon/png/backIcon.png" routerLink="/login" routerDirection="root" alt="" srcset="">
    </div>
    <div class="mid-top">
        <div class="firstText">¿Olvidaste tu <br>contraseña?</div>
        <div class="secondText">¡No te preocupes!</div>
        <div class="thirdText">Mandaremos un código al<br> correo electrónico del administrador.</div>
        <label class="email" id="email">jorgemontero@gmail.com</label>
    </div>
    
    <div class="mid">
      <input class="email_id" id="email_id1" type="text">
      <input class="email_id" id="email_id2" type="text">
      <input class="email_id" id="email_id3" type="text">
      <input class="email_id" id="email_id4" type="text">
      <input class="email_id" id="email_id5" type="text">
      <input class="email_id" id="email_id6" type="text">
      <input class="email_id" id="email_id7" type="text">
      <input class="email_id" id="email_id8" type="text">
    </div>
    
    <div class="mid-foot">
      <label class="password" id="new_password">Contraseña nueva</label><input type="text" class="password_text">
      <label class="password" id="confirm_new_password">Digitala de nuevo</label><input type="text" class="password_text">
    </div>
    
    <div class="foot">
      <button class="btn btn_save" routerLink="/login" routerDirection="root">Guardar</button>
    </div>
    
    
</div>