<div class="content">
  <div class="header-menu">
    <div class="back">
      <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="" srcset="">
    </div>
    <div class="quit">
      <p href="">Omitir</p>
    </div>
  </div>

  <div class="modal-container">

      <div class="informationText">
          <div class="title-product">¿Deseas agregar <br> algún descuento fijo? </div>
      </div>

      <div class="bottom_buttons_container">
          <button class="btn btn_cancel">No</button>
          <button class="btn btn_Add">Sí</button>
      </div>

      
    </div>


</div>

<div class="footer">
    <div class="next">
      <p>Siguiente</p>
      <img class="nextIcon" src="./assets/icon/png/nextIcon.png">
    </div>
</div>
