.modal-container{
    width: 70%;
    margin: 35% auto;
    height: 40vh;
}

.title-product{
    font-size: 18px;
}

.bottom_buttons_container{
    margin-top: 85px;
}

.btn{
    box-shadow: none;
    height: 30px;
    font-size: 13px;
}

.footer{
    background: white;
    margin-top: -20px;
    padding: 0;
}

.next{
    margin-top: -35px;
}