<div class="content">
    <div class="top">
        <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="" srcset="" (click)="goBack()">
      </div>
      
      <div class="mid">
        <a class="firstText">Coloque su PIN</a>
      </div>
      
      
      <div class="squares">
        <a class="square1"><input type="text"></a>
        <a class="square2"><input type="text"></a>
        <a class="square3"><input type="text"></a>
        <a class="square4"><input type="text"></a>
        </div>
      
        
        <div class="numeric-keyboard">
          <button class="num" id="1">1</button>
          <button class="num" id="2">2</button>
          <button class="num" id="3">3</button>
          <button class="num" id="4">4</button>
          <button class="num" id="5">5</button>
          <button class="num" id="6">6</button>
          <button class="num" id="7">7</button>
          <button class="num" id="8">8</button>
          <button class="num" id="9">9</button>
          <button class="num" id="0">0</button>
      </div>
      
</div>