<div class="content">
    <div class="top">
        <img class="backIcon" src="./assets/icon/png/backIcon.png" routerLink="/regime" routerDirection="root" alt="" srcset="">
      </div>
      
      <div class="mid-top">
          <a class="firstText">Ocupamos algunos datos para<br> configurar tu factura electrónica</a>
        <a class="secondText">¿Es tu primera vez<br> utilizando factura<br> electrónica?</a>
      </div>
    
    <div class="btn-btn">
        <button class="btn btn-yes" routerLink="/idconfirmation" routerDirection="root">Sí</button>
        <button class="btn btn-no" routerLink="/idconfirmation" routerDirection="root">No</button>
    </div>   
</div>