<div class="menu_content">
  <div class="top">
     <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="" srcset="" (click)="goBack()">
    <div class="header_text">
      <p class="header_title">CONTROL <br> INTERNO </p>
    </div>
    <div class="check_icon">
        <img class="checkVector" routerLink="/check" routerDirection="root" src="./assets/icon/png/checkVector.png">
        <p class="colon">¢</p>
    </div>
    

  </div>

  
    <div class="menu_item" routerLink="/userlist" routerDirection="root">
        <img class="icon userIcon" src="./assets/icon/png/userIcon.png">
        <h2 class="menu_item_text">Usuarios</h2>
    </div>
    <hr class="line">
    <div class="menu_item" routerLink="/reportprincipal" routerDirection="root">
        <img class="icon reportIcon" src="./assets/icon/png/reportIcon.png">
        <h2 class="menu_item_text">Reportes</h2>
    </div>
    <hr class="line">
    <div class="menu_item" routerLink="/clientlist" routerDirection="root">
        <img class="icon clientIcon" src="./assets/icon/png/clientIcon.png">
        <h2 class="menu_item_text">Clientes</h2>
    </div>
    <hr class="line">
    <div class="menu_item" routerLink="/cashinout" routerDirection="root">
        <img class="icon cashierIcon" src="./assets/icon/png/cashierIcon.png">
        <h2 class="menu_item_text">Caja</h2>
    </div>
    <hr class="line">
    <div class="menu_item" routerLink="/discountlisttable" routerDirection="root">
        <img class="icon discountIcon" src="./assets/icon/png/discountIcon.png">
        <h2 class="menu_item_text">Descuentos</h2>
    </div>
    <hr class="line">
    <div class="menu_item" routerLink="/startup" routerDirection="root">
        <img class="icon helpIcon" src="./assets/icon/png/helpIcon.png">
        <h2 class="menu_item_text">Ayuda</h2>
    </div>
    <hr class="line">

</div>

