<div class="content">
    <div class="top">
        <img class="backIcon" src="./assets/icon/png/backIcon.png" routerLink="/login" routerDirection="root" alt="" srcset="">
        <img src="./assets/img/aperturadecaja.png">
      </div>
      
      <div class="mid-top">
        <a class="firstText">DINERO DE APERTURA</a>
        <a class="secondText">TOTAL</a>
      </div>
      
      <div class="mid">
        <div class=cashier><a class="currency">COLONES..........................................&nbsp;</a><input type="text" id="amount-colons"></div>
        <div class=cashier><a class="currency">DOLARES..........................................&nbsp;</a><input type="text" id="amount-dolars"></div>
        
      </div>
      
      <div class="footer">
      <a class="btn button is-rounded" routerLink="/check" routerDirection="root">Abrir caja</a>
      </div>
</div>