<div class="content">
    <div class="top">
        <img class="backIcon" src="./assets/icon/png/backIcon.png" routerLink="/key" routerDirection="root" alt="" srcset="">
      </div>
      
      <div class="mid">
        <a class="firstText" routerLink="/company1" routerDirection="root">Ahora sí.</a>
        <a class="secondText">Vamos a configurar tu app.<br> Para comenzar crea<br> tu pin personal</a>
      </div>
      
      
      <div class="squares">
        <a class="square1"><input type="text"></a>
        <a class="square2"><input type="text"></a>
        <a class="square3"><input type="text"></a>
        <a class="square4"><input type="text"></a>
        </div>
      
</div>