<div class="content">
    <div class="top">
        <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="" srcset="" routerLink="/adminsignup" routerDirection="root">
      </div>
      
      <div class="mid">
        <a class="firstText" routerLink="/adminpin" routerDirection="root">¡Hola!</a>
        <a class="secondText">Bienvenid@ a Kiosko,<br> tu aplicación de PDV</a>
        <a class="thirdText">Revisá tu correo por el key</a>
      </div>
      
      <div class="squares">
      <a class="square1"><input type="text"></a>
      <a class="square2"><input type="text"></a>
      <a class="square3"><input type="text"></a>
      <a class="square4"><input type="text"></a>
      <a class="minus">-</a>
      <a class="square5"><input type="text"></a>
      <a class="square6"><input type="text"></a>
      <a class="square7"><input type="text"></a>
      <a class="square8"><input type="text"></a>
      </div>
      
      
</div>