<div class="content">
    <div class="top">
        <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="" srcset="" routerLink="/company2" routerDirection="root">
    </div>
         
      <img class="infographic" src="./assets/img/infographic.png">
    
      <div class="footer">
          <div class="next" routerLink="/regime" routerDirection="root">
            <p >Siguiente</p>
            <img class="nextIcon" src="./assets/icon/png/nextIcon.png" alt="" srcset="">
          </div>
        </div>    
</div>