.top{
    margin-top: 6%;
    margin-left: 6%;
}

img{
    width: 282px;
    height: 443px;
    margin-left: 10%;
    margin-top: 7%
}


.footer{
    background: white;
    margin-top: -3%;
}

.nextIcon{
    margin-top: -15%;
    width: 14px;
    height: 14px;
}

.backIcon{
    width: 14px;
    height: 14px;
}
