<div class="content">
  <div class="header-menu">
    <div class="back">
      <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="">
    </div>
  </div>

  <div class="informationText">
      <div class="title-product">¡Listo!</div>
      <div class="subtitle-product">
        Tu aplicación ha sido <br> 
        correctamente configurada. Ya <br> 
        puedes comenzar a usar Kiosko
      </div>
  </div>
        
</div>
<div class="footer">
    <button class="btn btn_Add">Agregar</button>
</div>