<div class="content">
    <div class="top">
        <ion-menu-toggle>
            <ion-icon class="menuBtn" [src]=menuBtn></ion-icon>
          </ion-menu-toggle>
      </div>
      
      <div class="mid-top">
        <a class="firstText">Cuentas</a>
      </div>
      
      <div class="circules">
       <button class="circule" id="account1">1</button>
       <button class="circule" id="account2">2</button>
       <button class="circule" id="account3">3</button>
       <button class="circule" id="account4">4</button>
       <button class="circule" id="account5">5</button>
       <button class="circule" id="account6">6</button>
       <button class="circule" id="account7">7</button>
       <button class="circule" id="account8">8</button>
       <button class="circule" id="account9">9</button>
       <button class="circule" id="account10">10</button>
       <button class="circule" id="account11">11</button>
       <button class="circule" id="account12">12</button>
      </div >
</div>
