<div class="content">
    <div class="top">
        <img class="backIcon" src="./assets/icon/png/backIcon.png" routerLink="/adminpin" routerDirection="root" alt="" srcset="">
      </div>
      
      <div class="mid-top">
        <a class="firstText">Creemos el acceso<br> a tu comercio</a>
      </div>
      
      <div class="mid">
        <Div class="inputs">
          <label for="" class="formulario__label">Nombre del Comercio</label><input type="text" class="form__input" id="name">
          <label for="" class="formulario__label">Contraseña</label><input type="password" class="form__input" id="password">
          <label for="" class="formulario__label">Confirmar contraseña</label><input type="password" class="form__input" id="password">
          <label for="" class="formulario__label">Teléfono</label><input type="text" class="form__input" id="telephone">
          <label for="" class="formulario__label">Correo electrónico</label><input type="email" class="form__input" id="email">
        </Div>
      </div>
      
      <div class="footer" routerLink="/company2" routerDirection="root">
        <div class="next">
          <p >Siguiente</p>
          <img class="nextIcon" src="./assets/icon/png/nextIcon.png" alt="" srcset="">
        </div>
      </div>     
</div>