<div class="content">

  <div class="header-menu">
      <div class="back">
        <img class="backIcon" src="./assets/icon/png/backIcon.png" alt="">
      </div>
      <div class="quit">
        <p href="">Omitir</p>
      </div>
    </div>

  <div class="informationText">
      <div class="title-product">Configurá tu descuento</div>
      <div class="subtitle-product">Agrega descuentos específicos <br> para tu negocio</div>
  </div>
    

  

    
    
    
  <div class="productList">
      
      <div class="productItem discount_save_item">Nombre del descuento</div>

      <div class="productItem " routerLink="/discountconfig" routerDirection="root">
        <img class="addIcon" src="./assets/icon/png/addIcon.png" alt="" srcset="">
      </div>


      <!-- <div class="productItem">Producto</div> -->
      <!-- <div class="productItem">Producto</div>   -->
  </div>

    
</div>

<div class="footer">
  <div class="next">
    <p>Siguiente</p>
    <img class="nextIcon" src="./assets/icon/png/nextIcon.png">
  </div>
</div>
